.tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;

  height: 2rem;

  border-left: 1px solid black;
  margin-left: -1px;

  white-space: nowrap;

  &--unselected {
    border-bottom: 1px solid black;
  }

  &--selected {
    border-bottom: 0px;
  }
}