.tab-bar {
  height: 2rem;
  display: flex;

  &__scroll-container {
    overflow: auto;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    align-items: center;
  }

  &__right-menu {
    width: 0rem;
    flex: 0 0 0;
  }
}