[data-scope="tree-view"] {
  & .tree-icon {
    width: 1.1rem;
    height: 1.1rem;
  }

  &[data-part="branch-content"] {
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    border-left: 0.1rem solid var(--background-color-tertiary);
  }

  &[data-part="branch-indicator"] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &[data-state="open"] {
      rotate: 90deg;
    }
  }

  &[data-part="item"],
  &[data-part="branch-control"] {
    display: flex;
    flex-direction: row;
    align-items: center;

    &:hover,
    &:active,
    &:focus {
      background-color: var(--background-color-secondary);
    }
  }

  &[data-part="item-text"] {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
