[data-scope="menu"] {
  background-color: var(--background-color-secondary);
  padding: 0.1rem;
  border-radius: 0.3rem;

  &[data-part="item"]:hover {
    background-color: var(--background-color-primary);
  }
}

.icon-button {
  background-color: var(--icon-button-background-color);
  border-radius: var(--icon-button-border-radius);
  border: var(--icon-button-border);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 1.9rem;
  height: 1.9rem;

  margin: 0.1rem;

  &:hover {
    background-color: var(--icon-button-background-color);
  }
}

.lucide {
  stroke-width: 1.5px;
}
