.side-dock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 3rem;
}

.button-group {
  color: var(--green);
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 3rem;
}

.side-dock__button {
  width: 3rem;
  height: 2.8rem;
  margin: 0;
  border-radius: 0;

  .top-button-group > & {
    color: var(--foreground-color-tertiary);

    &.selected,
    &:hover,
    &:active {
      color: var(--foreground-color-primary);
    }
  }

  .bottom-button-group > & {
    width: 2.4rem;
    height: 2.4rem;
    margin: 0.3rem;
    border-radius: 35%;
  }
}
