body[data-theme="light"] {
  --background-color-primary: white;
  --backgroun-color-secondary: white;
  --background-color-tertiary: white;
  --foreground-color-primary: black;
  --foreground-color-secondary: black;
  --foreground-color-tertiary: black;

  --accent-color-1: green;
  --accent-color-2: green;
  --accent-color-3: green;
}
