@use "./style/variables";

@use "./style/_partials";

@use "prosemirror-view/style/prosemirror.css";

@use "./style/_tabs.scss";
@use "./style/_window-splitter.scss";
@use "./style/_file-tree.scss";
@use "./style/_side-dock.scss";
@use "./style/_title-bar.scss";
@use "./style/_workspace.scss";

:root {
  --green: #92e62c;
}

body,
html {
  width: 100%;
  margin: 0;
}

body {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body,
#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
