@use "./style/_side-dock.scss";
@use "./style/_title-bar.scss";
@use "./style/_workspace-container.scss";

:root {
  --green: #92e62c;
}

body,
html {
  width: 100%;
  margin: 0;
}

body {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body,
#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
